
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #f2b75e; */
  background: pink;
  background: radial-gradient(circle,rgba(242, 183, 94, 1) 0%, rgba(196, 82, 82, 1) 100%);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 480px;
  height: 700px;
  margin: 150px auto;
  padding: 15px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background-color: #000;
  border-radius: 25px;
  box-shadow: 0 10px 20px ;
}

.display {
  color: #fff;
  /* color: black; */
  font-size: 70px;
  text-align: end;
  padding: 20px;
  box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.05);
}

.buttons {
  display: flex;
  flex: end;
  flex-wrap: wrap;
}

button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 28px 20px;
  width: 22%;
  margin: 10px 6px;
  font-size: 25px;
  background-color: rgba(128,128,128, 0.372);
}

.zero-btn {
  padding: 30px 190px 26px 20px;
}
.btn-grey {
  background-color: grey;
}
.btn-orange {
  background-color: orange;
  font-size: 30px;
}
